obj/*
bin/*
.vscode/settings.json
.DS_Store
accounts.csv
logging.cfg
logs.txt
cmake_install.cmake
CMakeCache.txt
CTestTestfile.cmake
Makefile
.qt/QtDeploySupport.cmake
CMakeFiles/*
_deps/*
gen-inventory_autogen/moc_predefs.h
gen-inventory_autogen/mocs_compilation.cpp
gen-sales_autogen/moc_predefs.h
gen-sales_autogen/mocs_compilation.cpp
lib/*
main_autogen/moc_predefs.h
main_autogen/mocs_compilation.cpp
unit_tests_autogen/moc_predefs.h
unit_tests_autogen/mocs_compilation.cpp
.gitignore
